__pycache__
.venv
venv
profile/
*.egg-info
dist/
build/

# data files
data/
cram_index_files/
data_dump/
*.cram*
calibration/
sv_genotyping

# experiment outputs
synthetic_data/
output/

# paper analysis
paper/
