/__pycache__
.venv
venv
*stix_output*
plots
gnomad_svs
samples
hs37d5.fa.gz
*1kgp*
grch37
processed_svs
processed_svs_converge
synthetic_data*
*.ipynb
profile
long_reads
sr*
lr*
data_dump
*.cram*
assets
results
calibration